{:deps   {:aliases [:dev :test]}
 :builds {
          :lib  {:target    :node-library
                 :output-to "dist/fonda.js"
                 :exports   {:execute fonda.core/execute}
                 :release   {:compiler-options {:optimizations     :simple
                                                :variable-renaming :off
                                                :property-renaming :off
                                                :pretty-print      true
                                                :source-map        true}}}

          :test {:target    :node-test
                 :output-to "dist/test.js"
                 :autorun   true
                 :release   {:compiler-options {:optimizations     :simple
                                                :variable-renaming :off
                                                :property-renaming :off
                                                :pretty-print      true
                                                :source-map        true}
                             :autorun          false}}}}
