{:deps   {:aliases [:dev :test :example]}
 :builds {:lib  {:target    :node-library
                 :output-to "dist/fonda.js"
                 :exports   {:execute fonda.core/execute}
                 :release   {:compiler-options {:optimizations     :simple
                                                :variable-renaming :off
                                                :property-renaming :off
                                                :pretty-print      true
                                                :source-map        true}}}

          :test {:target    :node-test
                 :output-to "dist/test.js"
                 :autorun   true
                 :devtools  {:preloads [fonda.test-preload]}
                 :release   {:compiler-options {:optimizations     :simple
                                                :variable-renaming :off
                                                :property-renaming :off
                                                :pretty-print      true
                                                :source-map        true
                                                :elide-asserts     false}
                             :autorun          false}}

          :simple-example {:target :node-script
                           :main fonda.simple/main
                           :output-to "dist/simple-example.js"
                           :devtools  {:preloads [fonda.test-preload]}}}}
